{% extends "adminnavbar.html" %}
{% block content %}
{% load static %}
<head>
  {% comment %} <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> {% endcomment %}
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }
    body{
      background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); 
    }
    th{
      color:white;
    }
    td{
      font-weight:500;
    }
    {% comment %} .row {
      margin: 100px;
    } {% endcomment %}
  </style>
</head>
<body>
    <br><br><br>
    <div class="patterns"> 
      <div class="container col-10">
        <div class="panel panel-danger table-responsive">
          <div class="panel-heading">
            <h3 class="panel-title" style='color:red;'><center>Assign Delivery Boy</center></h3><br> 
          </div>
          <table class="table table-hover table-bordered" id="dev-table">
            <thead>
              <tr>
                <th>Tracking ID</th>
                <th>Customer</th>
                <th>Shipping Address</th>
                <th>Product</th>
                <th>Delivery Boy</th>
                <th>Assign</th>
              </tr>
            </thead>
            {% for c in orders %}
            <tr>
              <td>{{c.tracking_id}}</td> 
              <td> {{c.client.user.first_name}}</td>
              <td>{{c.client.address}}</td>
              <td> {{c.product.name}}</td>
              <td>{{c.deliveryboy.user.first_name}}</td> 
              <form action="{% url "assign" c.id %}" method='post'>
                {% csrf_token %}
              <td>
                <select name='delivery'>
                    {% for i in delivery %} 
                    <option value="{{i.id}}">{{i.user.first_name}}</option>
                    {% endfor %}
                </select>
                <button type='submit' class='btn btn-primary'>Assign</button>
            </td>
            </form>
            </tr>
            {% endfor %} 
          </table>
        </div>
      </div>
  </div>
   <br><br><br><br><br><br><br><br><br><br><br><br>
  </body>
{% endblock %}